/* desktop styles */

@media only screen and (min-width:769px) {
	.container {
		max-width: 1200px;
		border: 1px solid black;
	}

	header {
		margin: 12px 60px;
		border-radius: 16px;
	}

	.main-menu ul {
		display: flex;
	}

	.section-hero {
		margin: 78px auto 0;
		display: flex;
		flex-direction: column;
	}

	.hero-images {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero-images img {
		margin: 24px;
	}

	.hero-title {
		margin: 0 auto;
	}

	.hero-title h1 {
		font-size: 142px;
		line-height: 160px;
		font-family: 'Roboto';
		font-weight: 400;
	}

	.hero-bottom {
		margin: 57px 60px;
	}

	.hero-bottom p {
		max-width: 453px;
		font-size: 18px;
	}

	.section-hero button {
		margin-top: 47px;
	}

	.section-ceo-message {
		align-items: center;
		min-height: 300px;
		margin-top: 136px;
	}

	.section-ceo-message h1 {
		font-size: 30px;
		margin-top: 119px;
	}
	
	.section-ceo-message p {
		font-size: 11px;
		margin-top: 33px;
	}

	.section-instant-answers {
		display: flex;
		height: 800px;
		align-items: center;
	}

	.section-instant-answers img {
		margin: 250px 60px 350px;
	}

	.instant-answers-text {
		background-color: #FAF9F7;
		background-image: url('../images/instant-answers-background.png');
		background-repeat: no-repeat;
		background-position: 58px 435px;
		height: 100%;
		padding-left: 60px;
	}

	.instant-answers-text h1 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 48px;
		line-height: 48px;
		color: #0A0A0A;
		margin-top: 165px;
	}

	.primary-text {
		margin-top: 90px;
		max-width: 322px;
		color: #0A0A0A;
	}

	.secondary-text {
		margin-top: 46px;
		font-size: 12px;
		color: #504F4F;
		max-width: 322px;
	}

	.section-pricing {
		align-items: center;
		min-height: 664px;
	}

	.section-pricing h1 {
		font-size: 57px;
		margin-top: 231px;
	}
	
	.section-pricing p {
		font-size: 16px;
		margin-top: 43px;
		max-width: 478px;
	}

	.section-cso-message {
		align-items: center;
		min-height: 373px;
	}

	.section-cso-message h1 {
		font-size: 30px;
		margin-top: 159px;
		max-width: 370px;
		text-align: center;
	}
	
	.section-cso-message p {
		font-size: 11px;
		margin-top: 31px;
	}
}

