/* all base styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Roboto:wght@400&display=swap');

* {
	font-family: 'Inter', sans-serif;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

button {
	text-transform: uppercase;
	border-radius: 32px;
	font-size: 12px;
	padding: 15px;
	border: none;
	cursor: pointer;
}

.container {
	margin: 0 auto;
}

header {
	background-color: #FAFAFA;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 70px;
	padding: 0 16px;
}

header button {
	background-color: #0A0A0A;
	color: #FAF9F7;
	min-width: 116px;
}

.menu-btn {
	display: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	color: black;
	font-size: 30px;
}

.main-menu ul {
	list-style-type: none;
}

.main-menu ul>li {
	padding: 0 10px;
}

.main-menu button {
	padding: 8px;
	min-width: auto;
	text-transform: none;
	border-radius: 10px;
	font-size: 14px;
	border: none;
	cursor: pointer;
	background-color: #FAFAFA;
	color: #0A0A0A;
}

.main-menu button:hover {
	background-color: orange;
}

.sign-up-btn:hover {
	background-color: orange;
	color: #0A0A0A;
}

.section-hero button {
	background-color: #C6F572;
	min-width: 180px;
}

.section-hero button:hover {
	background-color: orange;
}

.section-ceo-message {
	background-color: #0A0A0A;
	display: flex;
	flex-direction: column;
}

.section-ceo-message h1 {
	color: #FAF9F7;
}

.section-ceo-message p {
	color: #504F4F;
}

.section-pricing {
	background-color: #FBF19B;
	display: flex;
	flex-direction: column;
}

.section-pricing h1 {
	color: #0A0A0A;
}

.section-pricing p {
	color: #0A0A0A;
}

.section-cso-message {
	background-color: #D4F2F9;
	display: flex;
	flex-direction: column;
}

.section-cso-message h1 {
	color: #0A0A0A;
}

.section-cso-message p {
	color: #504F4F;
}
