/* desktop styles */

@media only screen and (min-width:769px) {
	.container {
		max-width: 1200px;
		border: 1px solid black;
	}

	header {
		margin: 12px 60px;
		border-radius: 16px;
	}

	.main-menu ul {
		display: flex;
	}

}

