/* tablet styles */

@media only screen and (min-width:415px) and (max-width:768px) {
	header {
		border-radius: 16px;
	}

	.main-menu ul {
		display: flex;
	}

	.section-hero {
		margin: 10px auto;
		display: flex;
		flex-direction: column;
	}

	.hero-images {
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero-images img {
		margin: 5px;
	}

	.hero-title {
		margin: 0 auto;
		padding: 0;
	}

	.hero-title h1 {
		font-size: 42px;
		line-height: 160px;
		font-family: 'Roboto';
		font-weight: 400;
	}

	.hero-bottom {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 0 30px;
	}

	.hero-bottom p {
		max-width: 400px;
	}

	.section-ceo-message {
		align-items: center;
		justify-content: center;
		min-height: 100px;
		margin-top: 30px;
	}

	.section-ceo-message h1 {
		font-size: 25px;
		margin-top: 15px;
	}
	
	.section-ceo-message p {
		font-size: 11px;
		margin-top: 5px;
	}

	.section-instant-answers {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.section-instant-answers img {
		margin-top: 60px;
	}

	.instant-answers-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		margin-top: 60px;
	}

	.instant-answers-text h1 {
		font-family: 'Roboto';
		font-style: normal;
		font-weight: 400;
		font-size: 38px;
		line-height: 48px;
		color: #0A0A0A;
		margin-top: 65px auto;
	}

	.primary-text {
		margin: 30px 60px;
		color: #0A0A0A;
		text-align: center;
	}

	.secondary-text {
		margin: 10px 70px 50px;
		font-size: 16px;
		color: #504F4F;
		text-align: center;
	}

	.section-pricing {
		align-items: center;
		justify-content: center;
		min-height: 100px;
		margin-top: 30px;
		padding: 50px;
	}

	.section-pricing h1 {
		font-size: 25px;
		margin-top: 15px;
	}
	
	.section-pricing p {
		font-size: 16px;
		margin-top: 5px;
		width: 90%;
	}
}
